body{
    background-color:  hsl(216, 12%, 8%);
    color:  hsl(0, 0%, 100%);
    min-height: 150vh;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.container{
    width: 305px;
    border-radius: 20px;
    font-size: 40px;
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    justify-self: center;
    align-self: center;
    /* margin: 10% 40% 5% 40%; */

}
.display-none
{
    display: none !important;
}

.display-block
{
    display: block !important;
}
.img1{
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(50, 58, 68);
}
h1{
    font-size: 25px;
    letter-spacing: 0;
    font-weight: 700;
    margin-bottom: -50px;
    margin-top: -5px;
}
p{
    font-size: 15px;
    color: hsl(216, 12%, 54%);
    line-height: 25px;
    margin-bottom: -30px;
}
.numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: -40px;
}
.numbers button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin: 0px 3px;
    background-color: rgb(50, 58, 68);
    font-size: 15px;
    color: hsl(216, 12%, 54%);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.numbers button:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);

}
.numbers button.semi_active{
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 12%, 63%);
}
.numbers button.active{
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);

}
.submit{
    width: 100%;
    padding: 10px;
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
    border-color: hsl(25, 97%, 53%);
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.submit:hover{
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);

}
.submit:active{
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);

}
.thank-you-container
{
    /* top: -100vh; */
    background: hsl(216, 12%, 8%, 0.8) ;
    width: 305px;
    border-radius: 20px;
    font-size: 15px;
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    padding-bottom: 50px;
    justify-self: center;
    
}
.attribution{
    color: white;
    position:relative;
    font-size: xx-small;
    font-family: 'Courier New', Courier, monospace;

}

/* .thank-you-container-slide-in 
{
    transition: 1s;
    top: 25%;
    bottom: 25%;
} */
